*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(251, 235, 253);
}
header{
    background-color: rgb(241, 199, 247);
    padding: 20px 0 20px;
    border: 4px black solid;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}
header button {
    background-color: transparent;
    border: 0px solid;
    outline: none;
    text-decoration: none;
}
header .timer{
    border-width: 3px;
    font-size: x-large;
    padding: 4x;
    border-color: rgb(243, 193, 250);
}
header button:hover{
    text-decoration: underline;
}
body .startScreen{

}
.questionSect, .endScreen, .scores{
    display: none;
}